		
		/*공통*/
		div.scoreRankView{
			margin: auto;
			margin-top:30px;
			margin-bottom:30px;
			border: 3px black solid;
			width: 1400px;
			height: 1100px;
			border-radius: 20px;
		}
		
		h3{	
			margin-top: 20px;
			text-align: center;
		}
		
		button{
			border: none;
			border-radius: 8px;		
		}
		
		select {
			height: 30px;
		}
		
		input[type='text'] {
			height: 20px;
		}
		
		/*학년-반 조회*/
		div.detailSearch{
			margin: auto;
			margin-top:50px;
			width: 1200px;
			text-align: right;
		}
		
		/*검색*/
		div.search{
			margin: auto;
			margin-top:50px;
			width: 1200px;
			text-align: right;
		}
		
		button#search_btn{
			width: 100px;
			height: 40px;
			background-color: #FFB400;
			color: white;
			font-size:13pt;
			font-weight: bold;
		}
		
		button#search_btn:hover{
			background-color: #8c8c8c;
		}
		
		/*등수 테이블*/
		table{
			margin: auto;
			margin-top:30px;
			border: 2px black solid;
			width: 1200px;
			border-collapse: collapse;
		}
		th{
			background-color: #FFB400;
			color:white;
			font-weight: bold;
		}
		
		tr{
			border-collapse: collapse;
		}
		
		td{
			text-align: center;
			border: 1px black solid;
			border-collapse: collapse;
			height: 35px;
		}
		
		/*페이징 div*/
		div.page{
			margin: auto;
			margin-top:30px;
			width: 1200px;
			text-align: center;
		}
		
		button#page_btn{
			width: 35px;
			height: 35px;
		}
		
		button#page_btn:hover{
			background-color: #FFB400;
			color: white;
		}
		
		button.active{
			background-color: #FFB400;
			color: white;
		}
		
		/*조회결과 없을시*/
		td#fail{
			height: 500px;
			margin-bottom: 30px;
		}
		
		span#fail{
			color: red;
			font-weight: bold;
		}
		
		img#sList{
			width: 100px;
			height: 100px;
			margin-bottom: 20px;
		}
		
		a#reList{
			font-size: 9pt;
			font-weight: bold;
		}