    	div.student{
    		margin: auto;
    		margin-top:30px;
    		margin-bottom:30px;
    		width: 900px;
    		height: 700px;
    		border: 5px black solid;
    		border-radius: 20px;
    	}
    	
    	h3{	
    		margin-top:50px;
    		text-align: center;
    	}
    	
    	table{
    		margin: auto;
    		margin-top: 30px;
    	}
    	
    	p#auto{
    		color: red;
    		font-size: 9pt;
    	}
    	
    	label{
    		font-weight: bold;
    	}
    	
    	input {
			width: 300px;
			height: 50px;
			font-size: 15pt;
		}
		
		select{
			width: 300px;
			height: 50px;
			font-size: 15pt;
			text-align: center;
		}
		
		input.tel{
			width: 90px;
		}
		
		td#regBtn{
			padding-top: 20px;
		}
		
		td#regBtn button{
			background-color:#96A5FF;
			color:white;
			width: 300px;
			height: 50px;
			font-size: 12pt;
			font-weight: bold;
			border-radius: 12px;
			border: none;
		}
		
		td#regBtn button:hover{
			border: 2px solid #96A5FF;
			background-color: #8E83A9;
		}
		
		
		td#cancelBtn button{
			background-color:#FF5675;
			color:white;
			width: 300px;
			height: 50px;
			font-size: 12pt;
			font-weight: bold;
			border-radius: 12px;
			border: none;
		}
		
		td#cancelBtn button:hover{
			border: 2px solid #FF5675;
			background-color: #F4B6D9;
		}
		