@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

/* 헤더영역 */

div#header{
	margin: 0 auto;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	border: 3px solid black;
	height: 100px;
	line-height:100px;
	text-align: center;
}

div#header span{
	font-weight: bold;
}

img#header{
	margin-bottom:10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}


/* nav영역 */

    nav{
    	margin-top:5px;
    	margin-left:5px;
    	margin-right:5px;
    	font-size: 12pt;
    	position: relative;
    }
    nav ul{
    	padding: 0;
    	margin: 0 auto;
    	width: auto;
    }
    nav li{
    }
    nav a{
    	line-height: 50px;
      height: 50px;
    }
    nav li a{
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
    nav li:last-child a{
    	border-right: 0;
        }
    nav a:hover, nav a:active{
    }
    nav a#pull{
    	display: none;
    }
    html {
      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
      }

      ul{
        /*list-style-type: none;*/
        margin: 0;
        padding: 0;
        background-color: #333;
        text-align: center;
      }
     li{
        /*position: relative;*/
        display: inline-block;
     }
     li a{
        color: #FFFFFF;
        text-align: center;
        padding: 14.5px 16px;
        text-decoration: none;
     }
      
     li a:hover{
        /*color: #597812;*/
        color: #FFD400;
        font-weight:normal;
     }
    .menu {
       width: 5000px;
       height: 50px;
       text-align: center;
       max-width: 100%;
       background-position: center;
       background-size: cover;
       background-color: #333333;color: white;
       position: absolute;z-index: 1;
    }


/* footer영역 */

div.footer{
	height: 90px;
	margin: 0 auto;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	border: 3px solid black;
	height: 200px;
	line-height: 200px;
	text-align: center;
	
}



