<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<div class="nav" th:fragment="nav">
	<nav class="clearfix">
        <ul class="clearfix">
          <li><a href="/main">홈</a></li>
          <li><a href="/manage/studentList">학생조회</a></li>
          <li><a href="/manage/scoreRegView">성적등록</a></li>
          <li><a href="/manage/scoreLookUp">성적조회</a></li>
          <li><a href="/manage/scoreRank">등수조회</a></li>
          <li><a href="#">점수이의제기</a></li>
      </ul>
      <a id="pull" href="#"></a>
    </nav>
</div>

</html>