<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.ScoreMapper">
	
	<!-- 학생점수 등록 -->
	<insert id="scoreReg" parameterType="ScoreDTO">
		INSERT INTO score_tbl
		(score_idx,m_java,m_sql,m_javascript,m_spring,m_css,student_idx)
		VALUES(0,#{mJava},#{mSql},#{mJavaScript},#{mSpring},#{mCss},#{studentIdx})
	</insert>
	
	<!-- 학생점수가 등록되면 학생테이블업데이트 -->
	<update id="scoreCheck" parameterType="int">
		UPDATE student_tbl
		SET score_yn = 'Y'
		WHERE student_idx = #{studentIdx}
	</update>
	
	<!-- 학생 성적조회 -->
	<select id="selectScore" parameterType="Criteria" resultType="hashmap">
			SELECT student_idx,
	   			   student_name,
       			   student_grade,
       			   student_class,
                   m_java,
                   m_sql,
                   m_css,
                   m_spring,
                   m_javascript
            FROM
               (SELECT
                    a.student_idx,
	   			    a.student_name,
       				a.student_grade,
       				a.student_class,
       				b.m_java,
       				b.m_sql,
       				b.m_css,
       				b.m_spring,
       				b.m_javascript
	   			FROM student_tbl a JOIN score_tbl b
	   			ON a.student_idx = b.student_idx
	   			WHERE 1=1
	   			<if test="sGrade != null and sGrade != ''">
					AND student_grade = #{sGrade}
				</if>
				<if test="sClass != null and sClass != ''">
					AND student_class = #{sClass}
				</if>
				<if test="keyword != null and keyword != ''">
					AND student_name LIKE CONCAT('%',#{keyword},'%')
				</if>
       			ORDER BY student_grade ASC,student_class DESC)AS score
       			LIMIT #{skip},#{amount}
	</select>
	
	<!-- 총게시물 수 (조건에 맞는 총 게시물수) -->
	<select id="scoreTotal" resultType="int" parameterType="Criteria">
			SELECT count(*)
			FROM score_tbl a join student_tbl b
			ON a.student_idx = b.student_idx
			where 1=1
			<if test="sGrade != null and sGrade != ''">
				AND student_grade = #{sGrade}
			</if>
			<if test="sClass != null and sClass != ''">
				AND student_class = #{sClass}
			</if>
			<if test="keyword != null and keyword != ''">
				AND student_name LIKE CONCAT('%',#{keyword},'%')
			</if>
	</select>
	
	<!-- 등수 정하기 위한 코드(동일한 점수인경우 동점랭킹) -->
	<select id="selectRank" resultType="hashmap" parameterType="Criteria">
		SELECT  student_idx,
	   		   	student_name,
       			student_grade,
       			student_class,
       			total,
       			@rank:=@rank+1 as rank,
	   			( @real_rank := IF ( @last > total, @real_rank:=@real_rank+1, @real_rank ) ) AS real_rank,
	   			( @last := total ) AS last
		FROM (
				SELECT 	a.student_idx,
					  	b.student_name,
					  	b.student_grade,
					  	b.student_class,
					  	(sum(a.m_java+a.m_css+a.m_javascript+a.m_spring+a.m_sql)/5.0) AS total
				FROM score_tbl a JOIN student_tbl b
				ON a.student_idx = b.student_idx
				JOIN ( SELECT @rank := 0, @last := 0, @real_rank := 1 )c
				GROUP BY student_idx
				ORDER BY total DESC)AS RANK
		LIMIT #{skip},#{amount}
	</select>
	
	
</mapper>