<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.StudentMapper">
	
	<select id="autoStudentIdx" resultType="int">
		SELECT AUTO_INCREMENT 
		FROM information_schema.TABLES
		WHERE TABLE_SCHEMA = 'board' 
		AND TABLE_NAME = 'student_tbl'
	</select>
	
	<!-- 학생등록 -->
	<insert id="studentReg" parameterType="StudentDTO">
		INSERT INTO student_tbl
		VALUES(0,#{studentName},#{studentPhone},#{studentClass},#{studentGrade})
	</insert>
	
	<!-- 게시판리스트 구현 -->
	<select id="studentList" resultType="StudentDTO" parameterType="Criteria">
		SELECT
			student_idx,
			student_name,
			student_grade,
			student_class,
			student_phone,
			score_yn
		FROM(
		  SELECT
		  		student_idx,
				student_name,
				student_grade,
				student_class,
				student_phone,
				score_yn
		  FROM student_tbl
		  WHERE 1 = 1
			<if test="sGrade != null and sGrade != ''">
				AND student_grade = #{sGrade}
			</if>
			<if test="sClass != null and sClass != ''">
				AND student_class = #{sClass}
			</if>
			<if test="keyword != null and keyword != ''">
				<include refid="studentSearch"></include>
			</if>
		  ORDER BY student_idx DESC)AS SL
		  LIMIT #{skip},#{amount}
	</select>
	
	<!-- 총게시물 수 (조건에 맞는 총 게시물수) -->
	<select id="studentTotal" resultType="int" parameterType="Criteria">
		SELECT COUNT(*)
		FROM student_tbl
		WHERE 1 = 1
			<if test="sGrade != null and sGrade != ''">
				AND student_grade = #{sGrade}
			</if>
			<if test="sClass != null and sClass != ''">
				AND student_class = #{sClass}
			</if>
			<if test="keyword != null and keyword != ''">
				<include refid="studentSearch"></include>
			</if>
	</select>
	
	
	
	<!-- 이름/학번/전화번호 키워드검색조건에 따른 SQL쿼리문 -->
	<sql id="studentSearch">
		<trim prefix="AND(" suffix=")" prefixOverrides="OR">
			<foreach collection="searchTypeArr" item="searchType">
				<trim prefix="OR">
					<choose>
						<when test="searchType=='N'.toString()">
							student_name LIKE CONCAT('%',#{keyword},'%')
						</when>
						<when test="searchType=='I'.toString()">
							student_idx LIKE CONCAT('%',#{keyword},'%')
						</when>
						<when test="searchType=='P'.toString()">
							student_phone LIKE CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
</mapper>